body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top right, #1e293b, #0f172a);
  color: white;
}

/* Card */
.card {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}

/* Inputs */
.form-control {
  background: rgba(0, 0, 0, 0.4) !important;
  color: white !important;
  border-radius: 10px;
}

/* Result */
.result-box {
  padding: 20px;
  border-radius: 20px;
  animation: pop 0.4s ease;
}

.Underweight {
  color: #3b82f6
}

.Normal\ Weight {
  color: #22c55e
}

.Overweight {
  color: #fbbf24
}

.Obesity {
  color: #ef4444
}

/* Advice */
.advice-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 15px;
  color: #e2e8f0;
  /* لون فاتح للنص */
}

/* History */
.history-item {
  background: rgba(255, 255, 255, 0.05) !important;
  border-radius: 10px !important;
}

/* Animation */
@keyframes pop {
  from {
    transform: scale(0.8);
    opacity: 0
  }

  to {
    transform: scale(1);
    opacity: 1
  }
}